@import url(/ajax_project/css/spinner.css);
@import url(/ajax_project/css/navbar.css);
@import url(/ajax_project/css/bookCard.css);
@import url(/ajax_project/css/searchBar.css);
@import url(/ajax_project/css/showBookProperties.css);
@import url(/ajax_project/css/snackbar.css);
@import url(/ajax_project/css/pagination.css);
@import url(/ajax_project/css/addNewBook.css);

:root {
  --light-yellow: #FFFAE6;
  --light-orange: #FF9F66;
  --orange: #FF5F00;
  --blue: #002379;
}

body {
  height: 100vh;
  margin: 0;
  background-color: var(--light-orange);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hidden {
  display: none;
}

.pagination {
  display: flex;
  justify-content: center;
}

.black {
  background-color: black;
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 180%;
  opacity: 40%;
}